/**https://venngage.com/tools/accessible-color-palette-generator
*Pastel contrasting palette 1*
#faaf90, #000000 -PEACH
#fcc9b5, #000000 -LIGHT PEACH
#d9e4ff, #000000 -SKY BLUE
#b3c7f7, #000000 -LIGHT BLUE
#8babf1, #000000 -DARK BLUE
https://getbootstrap.com/**/

/**reset for ease**/
* {
  margin: 0;
	padding: 0;
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



h1, p, h2, h3, h4, h5, h6, li, output {

  color: #000000 ;
  
}

.error-msg {
  color: maroon;
}

.emotion-averages {
  display: block;
  padding: 30px;
}

.trigger-class {
  display: inline-block;
  padding: 30px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.no-change {
  color: black;
}


#edit-msg, #invalid_credentials_msg, #email_exists_msg, 
#user_not_found_msg, #wrong_sec_answers_msg {
  color: maroon;
}

#action_successful_msg, #account_successful_msg, #logout_successful_msg, #username_reminder_msg, #pwd_change_ok_msg {
    color:#6ff58e;
}

/*https://www.w3schools.com/howto/howto_js_rangeslider.asp/*/

.slidecontainer {
    width: 20%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 1rem; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 0.5rem;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: cornflowerblue; /* Green background */
    cursor: pointer; /* Cursor on hover */
    border-radius: 5rem;
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  .card {
    display: inline-block;
  }