<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insightful Emotions</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <main>
        <h1>Login</h1>
        <form action="/login" method="post">
            <div id="account_successful_msg"><%= accountCreatedMsg %></div>

            <p>
    
                <label for="userlogin-input">Username</label>
    
            </p>
    
            <div>
    
                <input type="email" name="username" id="userlogin-input">
    
            </div>

            <p>
    
                <label for="passlogin-input">Password</label>
    
            </p>
    
            <div>
    
                <input type="password" name="password" id="passlogin-input">
    
            </div>

            <div>
                <button type="submit" name="login-attempt">Log In</button>
                <br>

            </div>
    

        </form>

        <button type="submit" name="forgot_username">Forgot Username</button>
        <br>
        <a href="./reset-password">Forgot Password</a>



    </main>


    <script src="/js/login.js"></script>
</body>