<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insightful Emotions</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <h1>Registration Form</h1>

    <form action="/new-user" method="post">

        <p>

            <label for="firstname-input">First name</label>

        </p>

        <div>

            <input type="text" name="first_name" placeholder="Enter First Name" id="firstname-input">

        </div>


        <p>

            <label for="surname_input">Surname</label>

        </p>

        <div>

            <input type="text" name="surname" placeholder="Enter Surname" id="surname-input">

        </div>

        <p>

            <label for="email-input">E-mail Address</label>

        </p>

        <div>

            <input type="email" name="email_add" placeholder="user@example.com" id="email-input">

        </div>

        <p>

            <label for="birthdate-input">Date of Birth</label>

        </p>

        <div>

            <input type="date" name="birthdate" id="birthdate-input">

        </div>


        <p>

            <label for="sec-q1-input">Security Question 1</label>

        </p>

        <div>

            <input type="text" name="security_qtn_1" placeholder="Example:  Name of First School" id="sec-q1-input">

        </div>

        <p>

            <label for="sec-a1-input">Secret Answer</label>

        </p>

        <div>

            <input type="text" name="security_ans_1" placeholder="Enter answer" id="sec-a1-input">

        </div>

        <p>

            <label for="sec-q2-input">Security Question 2</label>

        </p>

        <div>

            <input type="text" name="security_qtn_2" placeholder="Example:  First Employer" id="sec-q2-input">

        </div>

        <p>

            <label for="sec-a2-input">Secret Answer</label>

        </p>

        <div>

            <input type="text" name="security_ans_2" placeholder="Enter answer" id="sec-a2-input">

        </div>

        <p>

            <label for="password-input">Choose Password</label>

        </p>

        <div>

            <input type="password" name="initial_password" placeholder="Enter Password" id="password-input">

        </div>


        <p>

            <label for="passconfirm-input">Confirm Password</label>

        </p>

        <div>

            <input type="password" name="password_confirmation" placeholder="Re-enter Password" id="passconfirm-input">

        </div>


        <button type="submit">Submit</button>


    </form>








</body>